@import "tailwindcss";

html,
body,
#root {
    width: 100%;
    max-width: 100%;
    min-height: 100%;   
    overflow-x: hidden;
}



/* ===== VIP SCROLLBAR ===== */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #006d85, #004d61);
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #00a6c6, #006d85);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #f77f00 transparent;
}

